<yourcourt-navbar></yourcourt-navbar>

<!-- Banner -->
<section id="banner">
    <header>
        <h2>YourCourt</h2>
        <p>La gestión deportiva digital que necesitas para tu club</p>
    </header>
</section>

<!-- Who are we -->
<div id="who-we-are">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="title">¿Quiénes somos?</h2>
                <p class="subtitle">Equipo formado por estudiantes de la Universidad de Sevilla dedicados al desarrollo
                    de soluciones software</p>
            </div>
        </div>
    </div>
</div>

<!-- Our Mision/Vision -->
<div id="mission-vision">
    <div class="container">
        <div class="row text-center">

            <article class="col-sm-12 col-md-6 col-lg-6 col-xl-5">
                <h2 class="title-2">Nuestra misión&nbsp;<i class="fas fa-crosshairs"
                        style="color: rgb(255, 0, 0); font-size: 2rem;"></i></h2>
                <p class="p-text">Ofrecemos la posibilidad de gestionar tu propio club de forma automatizada para
                    reducir el trabajo manual que éste requiere,
                    por ello, damos la oportunidad para añadir más funcionalidades que, gracias a la informática, es
                    posible hacerlo. Asimismo,
                    brindamos una ocasión para controlar eficazmente a todos vuestros usuarios.</p>
            </article>
            <article class="col-sm-12 col-md-2 col-lg-2 col-xl-2" style="border: none;">

            </article>
            <article class="col-sm-12 col-md-6 col-lg-6 col-xl-5">
                <h2 class="title-2">Nuestra visión&nbsp;<i class="far fa-eye"
                        style="color: rgb(0, 255, 106); font-size: 2rem;"></i></h2>
                <p class="p-text">Con el paso de los años, cada vez más información pasa a ser digitalizada. Pensamos
                    que en el ámbito de
                    la gestión de clubes todavía existe cierto receso en ese aspecto, y por lo tanto, queremos
                    involucrarnos en ello ya que es algo que
                    vivimos en nuestras vidas personales.</p>
            </article>

        </div>
    </div>
</div>

<!-- Functionalities -->
<div id="club-functionality">
    <div class="container">
        <h2 class="title-2">Para clubes</h2>
        <div class="row text-center">

            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <i class="fas fa-parking" style="color: rgb(0, 0, 255); font-size: 2rem;"></i>
                <h3 class="title-3">Gestiona tus instalaciones</h3>
                <p class="p-text">Muestra las instalaciones de tu centro, como aparcamientos o piscinas.</p>
            </article>
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <i class="far fa-newspaper" style="color: rgb(0, 0, 0); font-size: 2rem;"></i>
                <h3 class="title-3">Publica cualquier clase de contenido o noticia</h3>
                <p class="p-text">Informa a tus clientes sobre noticias del club.</p>
            </article>
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
                <i class="fas fa-shopping-cart" style="color: rgb(0, 125, 0); font-size: 2rem;"></i>
                <h3 class="title-3">Ofrece tu propio catálogo de productos y ponlo a la venta</h3>
                <p class="p-text">Regula la venta de productos y manten actualizado tu almacén.
                </p>
            </article>
            <article class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                <i class="fas fa-exchange-alt" style="color: rgb(0, 125, 0); font-size: 2rem;"></i>
                <h3 class="title-3">Gestiona y controla las reservas de pistas</h3>
                <p class="p-text">Lleva un control de las reservas de cada una de las pistas y los horarios.
                </p>
            </article>
        </div>
    </div>
</div>

<div id="users-functionality">
    <div class="container">
        <h2 class="title-2">Para usuarios</h2>
        <div class="row text-center">

            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <i class="fas fa-bullhorn" style="color: rgb(255, 125, 0); font-size: 2rem;"></i>
                <h3 class="title-3">Infórmate de las novedades de tu club</h3>
                <p class="p-text">Accede a la sección de noticias para conocer las novedades.</p>
            </article>
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <i class="far fa-comment-dots" style="color: rgb(0, 0, 0); font-size: 2rem;"></i>
                <h3 class="title-3">Comenta en las publicaciones</h3>
                <p class="p-text">Publica un comentario para opinar sobre alguna noticia.</p>
            </article>
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
                <i class="fas fa-calendar-plus" style="color: rgb(0, 23, 125); font-size: 2rem;"></i>
                <h3 class="title-3">Reserva cómodamente tu pista</h3>
                <p class="p-text">Decide qué pista y la franja horaria a reservar. También podrás alquilar productos.
                </p>
            </article>
            <article class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                <i class="fas fa-shopping-cart" style="color: rgb(0, 125, 0); font-size: 2rem;"></i>
                <h3 class="title-3">Mira y compra productos de tu interés</h3>
                <p class="p-text">Realiza compras de productos disponibles de tu club.
                </p>
            </article>
        </div>
    </div>
</div>

<!-- Team -->
<div class="container" id="team">
    <h2 class="title"><i class="fas fa-tools" style="color: rgb(0, 0, 0); font-size: 2rem;"></i>Nuestro equipo<i
            class="fas fa-tools" style="color: rgb(0, 0, 0); font-size: 2rem;"></i></h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img class="card-img-top" src="../../../assets/Juan Noguerol.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h3>Juan Noguerol Tirado</h3>
                    <p class="title">Web Developer</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="card-img-top" src="../../../assets/Javier Vazquez.jpg" alt="Mike" style="width:100%">
                <div class="container">
                    <h3>Javier Vázquez Zambrano</h3>
                    <p class="title">Mobile Developer</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Us -->
<div id="contact" class="container">
    <h2 class="title text-center mt-2">¿Tienes alguna duda? ¡Contacta con nosotros!
    </h2>

    <form id="contactForm" [formGroup]="form" (ngSubmit)="onPost()">

        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="name"
                [ngClass]="{'is-invalid':form.get('name').touched && form.get('name').invalid}" id="name"
                placeholder="Nombre" formControlName="name" required minlength="3" maxLength="50">
            <div class="invalid-feedback" *ngIf="form.get('name').touched && form.get('name').invalid">
                <div *ngIf="form?.get('name').errors.required">El nombre es obligatorio.</div>
                <div *ngIf="form?.get('name').errors.minlength">El nombre debe ser de un mínimo de 3
                    caracteres.</div>
            </div>
        </div>

        <div class="form-group">
            <label>Correo: </label>
            <input type="text" name="email" id="email" class="form-control" formControlName="email"
                placeholder="Correo electrónico" required email
                [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}">
            <div class="invalid-feedback" *ngIf="form.get('email').touched && form.get('email').invalid">
                <div *ngIf="form.get('email').errors.required">No puede quedar vacío</div>
                <div *ngIf="form.get('email').errors.email">Debe ser un email</div>
            </div>
        </div>

        <div class="form-group">
            <label for="message">Mensaje</label>
            <textarea class="form-control" name="message"
                [ngClass]="{'is-invalid':form.get('message').touched && form.get('message').invalid}" id="message"
                placeholder="Mensaje" cols="30" rows="10" formControlName="message" maxLength="512" required></textarea>
            <div class="invalid-feedback" *ngIf="form.get('message').touched && form.get('message').invalid">
                <div *ngIf="form?.get('message').errors.required">El mensaje es obligatorio.</div>
            </div>
        </div>


        <div class="text-center mb-2">
            <button *ngIf="!loading; else loadingButton" type="submit" class="btn btn-primary"
                [disabled]="!form.valid">Enviar</button>
        </div>

        <ng-template #loadingButton>
            <button type="submit" class="btn btn-primary">
                <img style="width: 25%; display: unset;" src="../../../../assets/Spinner.gif">
            </button>
        </ng-template>

    </form>
</div>