input {
    box-shadow: 0 0 5px rgba(0,0,0,0.18);
    border-radius: .25rem;
}

  
.outer {
    display: table;
    position: absolute;
    top: auto;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    /* background-color: white;
  border-radius: 10px;
  position :relative !important; 
  top: 20px;
  width: 30%;
  
  align-items: center;
  margin: auto;
  margin-bottom: 70px;
  padding-top: 120px;
  padding-bottom:120px; */
   
}
  
.inner {
    background-color: rgba(255, 255, 255, 0.500);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* width:50%; */
    padding:5%;
    min-width: 300px;
}

.form-control, label, .invalid-feedback{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
.image-text{
    text-align: center;
  opacity: 0;
  background-color: #c5e2b8;
}

.user-image:hover > .image-text{ 
        opacity: 1;
}