.card {
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  background-color: rgb(186, 231, 233);
}

.card-link {
  border-radius: 15px;
}

.card img {
  position: relative;
  width: 100%;
  display: block;
  border-radius: 15px 15px 15px 15px;
  padding: 5px;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
}
.card-body {
  padding: 5px;
}
.card-footer {
  font-size: 18px;
  text-align: center;
}

.card-title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  max-height: 180px;
  display: -webkit-inline-flex;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.create-btn {
  margin: 15px;
  text-align: center;
  font-size: 20px;
}

.create-btn > button {
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

button.addProduct {
  padding: 10px;
  background-color: #ffffff83;
  color: black;
  border: 5px solid #349adf;
  margin-left: 5px;
  margin-top: 5px;
}

button.addProduct:hover {
  background-color: #349adf;
  color: white;
  border: 5px solid #ffffff83;
}
